/**
 * MeoBox: Material Theme
 * v.1.0.1
 */
.meoBox-clearAll {
  clear:              both;
  height:             0;
  content:            '';
  font:               0/0 a;
  line-height:        0;
  visibility:         hidden;
}
#MeoBox {
  position:           absolute;
  display:            inline-block;
  left:               50%;
  border:             1px solid #CCC;
  z-index:            200;
}
.meoBox-hidden {
  display:            none !important;
}
#MeoBox.error {
  padding:            0;
}
#MeoBox.success {
  padding:            0;
}
#MeoBox-Header {
  display:            block;
  background:         #000;
  color:              #FFF;
  border-bottom:      1px solid #FFF;
}
#MeoBox.error #MeoBox-Header {
  background:         #c62828;
}
#MeoBox.success #MeoBox-Header {
  background:         #689f38;
}
#MeoBox-Header-Title {
  float:              left;
  display:            inline-block;
  padding:            0.25em 1em 0.25em 1.25em;
  margin:             0;
  font-weight:        normal;
  color:              #FFF;
}
#MeoBox-Header-BtnClose {
  float:              right;
  display:            inline-block;
  padding:            0.25em 1em;
  color:              #FFF;
  background-color:   #333;
  text-decoration:    none;  
}
#MeoBox-Header-BtnClose:hover {
  background-color:   #A00;
  cursor:             pointer;
}
#MeoBox.error #MeoBox-Header-BtnClose {
  background-color:   #b71c1c;
}
#MeoBox.error #MeoBox-Header-BtnClose:hover {
  background:         #800;
}
#MeoBox.success #MeoBox-Header-BtnClose {
  background-color:   #558b2f;
}
#MeoBox.success #MeoBox-Header-BtnClose:hover {
  background:         #33691e;
}


#MeoBox-Body {
  padding:            1em 1.5em;
  background-color:   #FFF;
}
#MeoBox-Body p:first-child {
  margin-top:         0;
}


#MeoBox-Footer {
  padding:            0.5em 1.25em;
  background-color:   #FFF;
  text-align:         center;
}
.meoBox-btn {
  background:         #e0e0e0;
  color:              #000;
  text-decoration:    none;
  padding:            0.3em 2em;
  font-size:          11pt;
}
.meoBox-btn:hover {
  background-color:   #757575;
  color:              #FFF;
}
.meoBox-btn.cancel {
  float:              left;
  display:            inline-block;
}
.meoBox-btn.ok {
  float:              right;
  display:            inline-block;
  background: 	      #2196f3;
  color:              #FFF;
  border:             1px solid #FFF;
}
.meoBox-btn.ok:hover {
  background: 	      #1976d2;
}
#MeoBox-Body input[type="text"].long {
  display:            block;
  width:              97%;
  margin:             0.25em;
}


#MeoBox-Layer {
  position:           absolute;
  top:                0;
  left:               0;
  display:            block;
  background-color:   rgba( 0, 0, 0, 0.5 );
  z-index:            199; /* 1 below the MeoBox */
}
